*{
     box-sizing: border-box;
      
}
body{
    background-color: #e9f0f0;
    width: 960px;
    margin: 0 auto;

}
.container .banner{
    background-image: url(../images/jumbo.jpg);
    background-size: cover;
    width: 100%;
    height:200px;
}
.container header{
    width: 100%;
    height: 60px;
    display: flex;
    margin: 0%;

}
.container header nav{
    width: 100%;
}
.container header nav a{
    text-decoration: none;
    
}
.container header nav ul li{
    height: 40px;
}
.container header ul{
    width: 100%;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.container header .logo{
    width: 20%;
    height: 20px;
    padding: 20px;
    background-image:url(../images/softhills-logo.png);
    background-size: cover;
}

.container .test, .test2{
    width: 100%;
    display: flex;
    min-height: 300px;
    margin-top: 20px;
}
.container .hero {
    display: flex;
}
.container .Pack{
    display: flex;
    width: 100%;
    min-height: 300px;
    flex-wrap: wrap;
    justify-content: space-around
    
}

.Pack1{
    width: 17%;
    height: 110px;
    text-align: center;
    padding-top: 35px;
}

.Pack1:nth-child(1){
    background-color: rgb(15, 21, 53);
}
.Pack1:nth-child(2){
    background-color: rgb(189, 189, 10);
}
.Pack1:nth-child(3){
    background-color: rgb(7, 88, 88);

}
.Pack1:nth-child(4){
    background-color: chocolate;
}
.Pack1:nth-child(5){
    background-color: rgb(119, 22, 22);
}
.Pack1:nth-child(6){
    background-color: rgb(31, 88, 31);
}
.Pack1:nth-child(7){
    background-color: purple;
}
.Pack1:nth-child(8){
    background-color: rgb(204, 78, 133);
}
.Pack1:nth-child(9){
    background-color: rgb(99, 5, 99);
}
.Pack1:nth-child(10){
    background-color: rgb(121, 182, 236);
}
hr{
    border-top: dotted;
}
.container .j{
    display: flex;
}
.container header nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    justify-content: space-between;
}
.container footer{
    color: black;
    height: 100px;
    width: 100%;
    
}
.container footer a{
    text-decoration: none;
   
}
.container footer nav{
    background-color: black;
    height: 80%;
    width: 100%;
    list-style: none;
    justify-content: center;
    align-content: space-around;
    padding: 20px;
}
.container footer nav ul li{
    display: inline-block;
    color: white;
   justify-content:  space-between;
   width: 80px;
}
.container footer nav ul li a{
    list-style-type: none;
    color: rgb(250, 244, 244);
    justify-content: space-between;

}
.container .banner1 {
    background-image: url(../images/jumbo-about.png);
    width: 100%;
    height:200px;
    background-size: cover;

}
.container .strata .banner2 {
    background-image: url(../images/about-plan.png);
    width: 100%;
    height: 200px;
}
.container .stratb .banner3{
    background-image: url(../images/about-working.png);
    width: 100%;
    height: 200px;
}
.container .stratc .banner4{
    background-image: url(../images/about-office.png);
    width: 100%;
    height: 200px;

}
.container .stratd .banner5{
    background-image: url(../images/about-meeting.png);
    width: 100%;
    height: 200px;
}


.container .strata, .stratc{
    width: 100%;
    margin-right: 10px;
}

.container .stratb, .stratd{
    width: 100%;
    margin-left: 10px;
}
